.outer {
  max-width: 600px;
  margin: 20px auto;
  padding: 0;
}

.container {
  padding: 20px;
  border: 1px solid black;
  border-radius: 15px;
}

.textCentered {
  text-align: center
}

.headerOuter {
  display: block;
  margin-bottom: 1em;
}

.headerInner {
  display: inline-block;
  width: 150px;
  font-weight: bold;
  font-size: 16px;
}

.inlineBlock {
  display: inline-block;
}

.mainOuter {
  display: block;
  margin-bottom: 1em;
}

.mainHeaderContainer {
  display: inline-block;
  width: 150px;
  font-weight: bold;
  font-size: 16px;
}

.submit {
  background: greenyellow;
  border: 2px solid linear-gradient(to right, red, purple);
  cursor: pointer;
  border-radius: 30px;
}

.btn-edit {
  min-width: 40%;
  color: white;
  background: blue;
  border: 2px solid linear-gradient(to right, red, purple);
  cursor: pointer;
  border-radius: 30px;
}

.btn-delete {
  color: white;
  background: red;
  border: 2px solid linear-gradient(to right, red, purple);
  cursor: pointer;
  border-radius: 30px;
}

.btn-update {
  color: white;
  background: green;
  border: 2px solid linear-gradient(to right, green, purple);
  cursor: pointer;
  border-radius: 30px;
}

.btn-cancel {
  font-weight: bold;
  background: yellow;
  margin-left: 10px;
  border: 2px solid linear-gradient(to right, green, purple);
  cursor: pointer;
  border-radius: 30px;
}

table {
  width: 100%;
  border: 2px solid black;
}

th, td {
  padding: 8px;
}

th {
  text-align: center;
  background-color: lightgrey;
}

th:first-of-type {
  width: 200px;
}

td {
  background-color: #FF7F50
}